<md-card class="card">
  <md-card-header class="card-item">
    <md-card-title>
      <h3>Fan controlling</h3>
    </md-card-title>
    <md-card-subtitle>Current temperature is <strong>{{ temperature }}</strong>°C</md-card-subtitle>
    <span class="fill-space"></span>
    <md-icon class="mat-icon-50" [ngClass]="{'spinning': activity}" svgIcon="icon:fan"></md-icon>
  </md-card-header>
  <md-card-content>
    <md-slide-toggle class="card-item" [(ngModel)]="activity" (click)="toggleActivity()" [disabled]="automation">
      Fan is <strong>{{ activity ? 'ON' : 'OFF' }}</strong>!
    </md-slide-toggle>
  </md-card-content>
</md-card>