<md-card class="card">
  <md-card-header class="card-item">
    <md-card-title>
      <h3>Fan controlling</h3>
    </md-card-title>
    <md-card-subtitle>Current temperature is <strong>{{ temperature }}</strong>°C</md-card-subtitle>
    <span class="fill-space"></span>
    <md-icon class="mat-icon-50" [ngClass]="{'spinning': activity}" svgIcon="icon:fan"></md-icon>
  </md-card-header>
  <md-card-content>
    <md-slide-toggle class="card-item" [(ngModel)]="activity" (ngModelChange)="setActivity(activity)" [disabled]="automation">
      Fan is <strong>{{ activity ? 'ON' : 'OFF' }}</strong>!
    </md-slide-toggle>
    <md-checkbox class="card-item" style="display: inline" [(ngModel)]="automation" (ngModelChange)="setAutomation(automation)"></md-checkbox>
    <span>
      <span>Turn on above</span>
      <md-select class="no-padding vertical-bottom" [(ngModel)]="threshold" name="threshold" (ngModelChange)="setThreshold(threshold)">
        <md-option *ngFor="let threshold of availableThresholds" [value]="threshold">
          {{ threshold }}
        </md-option>
      </md-select>
      <span>°C</span>
    </span>
  </md-card-content>
</md-card>